### Importando paquetes y cargando Bases

In [1]:
import pandas as pd
import numpy as np
import os
import weightedstats as ws

import warnings
warnings.filterwarnings("ignore")

In [2]:
tar = os.chdir(r"C:\Users\alfre\OneDrive\Documentos\SIR\Mapuches\Data")

In [3]:
# Cargando CASEN

df_casen_09 = pd.read_stata('2009/casen_2009.dta', convert_categoricals = False)

df_casen_11 = pd.read_stata('2011/casen_2011.dta', convert_categoricals = False)
df_casen_11 = df_casen_11.rename(columns = {'ck1': 'o'})

df_casen_13 = pd.read_stata('2013/casen_2013_mn_b_principal.dta', convert_categoricals = False)
df_casen_15 = pd.read_stata('2015/casen_2015.dta', convert_categoricals = False)
df_casen_17 = pd.read_stata('2017/casen_2017.dta', convert_categoricals = False)
df_casen_20 = pd.read_stata('2017/casen_2017.dta', convert_categoricals = False)

In [4]:
# Chequeando df's
print(df_casen_09.head())

# Nótese que la primera fila esta vacia, hay que eliminarla:
df_casen_09 = df_casen_09.drop([df_casen_09.index[0]])
df_casen_09.head()

    segmento  idviv  hogar    o      folio  region  provincia  comuna  zona  \
0        NaN    NaN    NaN  NaN                NaN        NaN     NaN   NaN
1  3102106.0  106.0    1.0  1.0  1000001-7     3.0       31.0  3102.0   1.0
2  3102106.0  106.0    1.0  2.0  1000001-7     3.0       31.0  3102.0   1.0
3  3102106.0  106.0    1.0  3.0  1000001-7     3.0       31.0  3102.0   1.0
4  3102106.0  106.0    1.0  4.0  1000001-7     3.0       31.0  3102.0   1.0

   estrato  ...  yaimhaj  yoautaj  yoauthaj  indmat  indsan  cviv  iai  iae  \
0      NaN  ...      NaN      NaN       NaN     NaN     NaN   NaN  NaN  NaN
1  31021.0  ...   4180.0      NaN       0.0     2.0     1.0   2.0  2.0  1.0
2  31021.0  ...   4180.0      NaN       0.0     2.0     1.0   2.0  2.0  1.0
3  31021.0  ...   4180.0      NaN       0.0     2.0     1.0   2.0  2.0  1.0
4  31021.0  ...   4180.0      NaN       0.0     2.0     1.0   2.0  2.0  1.0

   hacinami1  gradodis
0        NaN       NaN
1        3.0       6.0
2        3.0       6.0
3        3.0       6.0
4        3.0       6.0

[5 rows x 357 columns]

,segmento,idviv,hogar,o,folio,region,provincia,comuna,zona,estrato,...,yaimhaj,yoautaj,yoauthaj,indmat,indsan,cviv,iai,iae,hacinami1,gradodis
1,3102106.0,106.0,1.0,1.0,1000001-7,3.0,31.0,3102.0,1.0,31021.0,...,4180.0,NaN,0.0,2.0,1.0,2.0,2.0,1.0,3.0,6.0
2,3102106.0,106.0,1.0,2.0,1000001-7,3.0,31.0,3102.0,1.0,31021.0,...,4180.0,NaN,0.0,2.0,1.0,2.0,2.0,1.0,3.0,6.0
3,3102106.0,106.0,1.0,3.0,1000001-7,3.0,31.0,3102.0,1.0,31021.0,...,4180.0,NaN,0.0,2.0,1.0,2.0,2.0,1.0,3.0,6.0
4,3102106.0,106.0,1.0,4.0,1000001-7,3.0,31.0,3102.0,1.0,31021.0,...,4180.0,NaN,0.0,2.0,1.0,2.0,2.0,1.0,3.0,6.0
5,3102106.0,106.0,1.0,5.0,1000001-7,3.0,31.0,3102.0,1.0,31021.0,...,4180.0,NaN,0.0,2.0,1.0,2.0,2.0,1.0,3.0,6.0

In [5]:
# Cargando nuevos factores de expansión
# Cómo se hace el merge?
df_n_fact_exp_09 = pd.read_stata('2009/Casen2009_factorCenso2017_Nueva Metodología calibración STATA.dta')
df_n_fact_exp_11 = pd.read_stata('2011/Casen2011_factorCenso2017_Nueva Metodología calibración STATA.dta')
df_n_fact_exp_13 = pd.read_stata('2013/Casen2013_factorCenso2017_Nueva Metodología calibración STATA.dta')
df_n_fact_exp_15 = pd.read_stata('2015/Casen2015_factorCenso2017_Nueva Metodología calibración STATA.dta')
df_n_fact_exp_17 = pd.read_stata('2017/Casen2017_factorCenso2017_Nueva Metodología calibración STATA.dta')
df_n_fact_exp_20 = pd.read_stata('2020/Casen2020_factorCenso2017_Nueva Metodología calibración STATA.dta')

In [6]:
# Mergeando factores de expansión 09

df_casen_09 = df_casen_09.sort_values(by=['segmento', 'idviv', 'hogar', 'o'])
df_casen_09 = pd.merge(df_casen_09, df_n_fact_exp_09, left_index=True, right_index=True, suffixes=('_casen', '_comp'))

In [7]:
df_casen_09 =  df_casen_09.rename(columns = {
    'segmento_casen': 'segmento', 
    'idviv_casen': 'idviv', 
    'hogar_casen': 'hogar',
    'folio_casen': 'folio',
    'o_casen': 'o'
})
df_casen_09.columns

Index(['segmento', 'idviv', 'hogar', 'o', 'folio', 'region', 'provincia',
       'comuna', 'zona', 'estrato',
       ...
       'iai', 'iae', 'hacinami1', 'gradodis', 'segmento_comp', 'idviv_comp',
       'hogar_comp', 'o_comp', 'folio_comp', 'expr_C2017_NM'],
      dtype='object', length=363)

In [8]:
# Mergeando nuevos factores de expansión por folio y o
# Casen 2009 no se mergea porque folios tienen distinto formato.

df_casen_11 = df_casen_11.merge(df_n_fact_exp_11, on=["folio", "o"])
df_casen_13 = df_casen_13.merge(df_n_fact_exp_13, on=["folio", "o"])
df_casen_15 = df_casen_15.merge(df_n_fact_exp_15, on=["folio", "o"])
df_casen_17 = df_casen_17.merge(df_n_fact_exp_17, on=["folio", "o"])
df_casen_20 = df_casen_20.merge(df_n_fact_exp_20, on=["folio", "o"])

In [9]:
# Cargando encuestas complementarias de ingreso

df_comp_y_09 = pd.read_stata('2009/ingresos_mn_2009.dta')
df_comp_y_11 = pd.read_stata('2011/ingresos_mn_2011.dta')
df_comp_y_13 = pd.read_stata('2013/BD_Complementaria_de_Ingresos_Metodologia_Historica_Casen2013.dta')
df_comp_y_15 = pd.read_stata('2015/BD Complementaria de Ingresos Metodología Historica Casen 2015.dta')
df_comp_y_17 = pd.read_stata('2017/BD Complementaria de Ingresos Metodología Historica Casen 2017.dta')

### Qué hacemos con las nuevas regiones?

In [10]:
# Es necesario estandarizar las regiones. Lo hago por comunas?
# Estandarizar nombre de columna de etnia.
# df_casen_11.zona.value_counts()

### Qué aportan las encuestas complementarias de ingreso?

In [11]:
# Encontrando columnas duplicadas antes del merge con la encuesta complementaria

# Set the display.max_columns option to None
pd.set_option('display.max_columns', None)

print('columnas 17: ', df_casen_17.columns)
print('columnas 17 ingreso: ', df_comp_y_17.columns)

# Find the set intersection of column names
duplicate_cols = set(df_casen_17.columns) & set(df_comp_y_17.columns)

# Print the list of duplicated column names
print("Duplicated columns:", duplicate_cols)

columnas 17:  Index(['folio', 'o', 'id_vivienda', 'hogar', 'region', 'provincia', 'comuna',
       'zona', 'expr', 'expc',
       ...
       'hh_d_servbas', 'hh_d_entorno', 'hh_d_accesi', 'hh_d_medio',
       'hh_d_appart', 'hh_d_tsocial', 'hh_d_seg', 'pobreza_multi_4d',
       'pobreza_multi_5d', 'expr_C2017_NM'],
      dtype='object', length=805)
columnas 17 ingreso:  Index(['folio', 'o', 'y0101c_mh', 'y0701c_mh', 'y260201c_mh', 'y2603c_mh',
       'yautcor_mh', 'ytotcor_mh', 'y0101ch_mh', 'y0701ch_mh',
       ...
       'ytothaj1_mh', 'ypcaj1_mh', 'lpe1_mh', 'lp1_mh', 'pobreza1_mh',
       'ytothaj2_mh', 'ypcaj2_mh', 'lpe2_mh', 'lp2_mh', 'pobreza2_mh'],
      dtype='object', length=195)
Duplicated columns: {'o', 'folio'}

In [12]:
# Mergeando simplemente por el índice porque comp_y solo ocupa el índice!
df_casen_09 = pd.merge(df_casen_09, df_comp_y_09, left_index=True, right_index=True, suffixes=('_casen', '_comp'))
df_casen_09 =  df_casen_09.rename(columns = {
    'segmento_casen': 'segmento', 
    'idviv_casen': 'idviv', 
    'hogar_casen': 'hogar', 
    'o_casen': 'o'
})

# Mergeando por folio y o
df_casen_11 = df_casen_11.merge(df_comp_y_11, on=["folio", "o"])
df_casen_13 = df_casen_13.merge(df_comp_y_13, on=["folio", "o"])
df_casen_15 = df_casen_15.merge(df_comp_y_15, on=["folio", "o"])
df_casen_17 = df_casen_17.merge(df_comp_y_17, on=["folio", "o"])

In [13]:
print('columnas 17: ', df_casen_17.columns)

columnas 17:  Index(['folio', 'o', 'id_vivienda', 'hogar', 'region', 'provincia', 'comuna',
       'zona', 'expr', 'expc',
       ...
       'ytothaj1_mh', 'ypcaj1_mh', 'lpe1_mh', 'lp1_mh', 'pobreza1_mh',
       'ytothaj2_mh', 'ypcaj2_mh', 'lpe2_mh', 'lp2_mh', 'pobreza2_mh'],
      dtype='object', length=998)

In [14]:
df_casen_09.ytrabajocor

20             NaN
21             NaN
22        619000.0
75             NaN
76             NaN
            ...
223901         NaN
223902     30000.0
223903         NaN
223904         NaN
223905    140000.0
Name: ytrabajocor, Length: 246923, dtype: float64

### Asociando df's a nombres clave

In [15]:
dict_casen_año = {
    'df_casen_09': '2009',
    'df_casen_11': '2011',
    'df_casen_13': '2013',
    'df_casen_15': '2015',
    'df_casen_17': '2017',
    'df_casen_20': '2020'
}

# Hay que revisar muy bien esto

dict_casen_y = {
    'df_casen_09': 'ytotcorh',
    'df_casen_11': 'ytotcorh',
    'df_casen_13': 'ytotcorh',
    'df_casen_15': 'ytotcorh',
    'df_casen_17': 'ytotcorh',
    'df_casen_20': 'ytotcorh'
}

dict_casen_yt = {
    'df_casen_09': 'ytrabajocor',
    'df_casen_11': 'ytrabajocor',
    'df_casen_13': 'ytrabajocor',
    'df_casen_15': 'ytrabajocor',
    'df_casen_17': 'ytrabajocor',
    'df_casen_20': 'ytrabajocor'
}

dict_casen_m = {
    'df_casen_09': 't5',
    'df_casen_11': 'r6',
    'df_casen_13': 'r6',
    'df_casen_15': 'r3',
    'df_casen_17': 'r3',
    'df_casen_20': 'r3'
}

dict_casen_exp = {
    'df_casen_09': 'expr_C2017_NM',
    'df_casen_11': 'expr_C2017_NM',
    'df_casen_13': 'expr_C2017_NM',
    'df_casen_15': 'expr_C2017_NM',
    'df_casen_17': 'expr_C2017_NM',
    'df_casen_20': 'expr_C2017_NM'
}


dict_casen_pob = {
    'df_casen_13': 'pobreza_mn',
    'df_casen_15': 'pobreza',
    'df_casen_17': 'pobreza',
    'df_casen_20': 'pobreza'
}

# Expresado en pesos de marzo de 2023 

dict_inflactor = {
    'df_casen_09': 1.722, # realizada entre noviembre y diciembre 2009
    'df_casen_11': 1.616,
    'df_casen_13': 1.545,
    'df_casen_15': 1.406, # realizada entre noviembre, diciembre y enero
    'df_casen_17': 1.341,
    'df_casen_20': 1.235 #realziado octubre a diciemnbre
}

### Arreglando Nivel Educacional

In [16]:
'''
Nivel Educacional

0: Nulo
1: Pre-escolar
2: Básica
3: Media
4: Técnico Superior
5: Profesional
6: Posgrado

Nota: Técnico incompleto equivale a media; Posgrado incompleto equivale a profesional
'''

'\nNivel Educacional\n\n0: Nulo\n1: Pre-escolar\n2: Básica\n3: Media\n4: Técnico Superior\n5: Profesional\n6: Posgrado\n\nNota: Técnico incompleto equivale a media; Posgrado incompleto equivale a profesional\n'

In [17]:
df_casen_11.e6a.value_counts()

6     55370
8     52776
12    20626
10    16197
1     14276
5     13839
11     9591
7      5736
2      4658
3      4341
9      1305
4       900
13      687
Name: e6a, dtype: int64

In [18]:
for df in (df_casen_11, df_casen_13):
    conditions = [
        (df['e6a'] == 1),
        (df['e6a'].isin([2, 3, 4])),
        (df['e6a'].isin([5, 6])),
        (df['e6a'].isin([7, 8, 9, 10])),
        (df['e6a'] == 11),
        (df['e6a'] == 12),
        (df['e6a'] == 3),
    ]
    values = [0, 1, 2, 3, 4, 5, 6]
    df['nivel_educacional'] = np.select(conditions, values)

In [19]:
df_casen_11.nivel_educacional.value_counts()

#Ok, está funcionando

3    76014
2    69209
5    20626
0    14963
1     9899
4     9591
Name: nivel_educacional, dtype: int64

In [20]:
for df in (df_casen_15, df_casen_17, df_casen_20):
    conditions = [
        (df['e6a'] == 1),
        (df['e6a'].isin([2, 3, 4, 5])),
        (df['e6a'].isin([6, 7])),
        (df['e6a'].isin([8, 9, 10, 11, 12, 14])),
        (df['e6a'] == 13),
        (df['e6a'].isin([15, 16])),
        (df['e6a'] == 17),
    ]
    values = [0, 1, 2, 3, 4, 5, 6]
    df['nivel_educacional'] = np.select(conditions, values)

### Creando funciones necesarias

In [21]:
def get_household_members(df, id_hogar, member_number):
    df['number_of_members'] = df.groupby(id_hogar)[member_number].transform('max')
    return df['number_of_members']

In [22]:
#df_casen_09['etnia_jefe_hogar'] = df_casen_09.groupby('folio')['t5'].transform(lambda x: x[df_casen_09['o'] == 1].iloc[0])

In [23]:
def is_household_mapuche(df, id_hogar, member_number, mapuche_variable):
    df['mapuche_count'] = df.groupby(id_hogar)[mapuche_variable].transform(lambda x: (x == 4).sum())
    df['mapuche_percent'] = df['mapuche_count'] / df['number_of_members']
    df['etnia_jefe_hogar'] = df.groupby(id_hogar)[mapuche_variable].transform(lambda x: x[df[member_number] == 1].iloc[0])
    df['hogar_mapuche'] = 0
    df.loc[(df['mapuche_percent'] >= 0.5) | (df['etnia_jefe_hogar'] == 4), 'hogar_mapuche'] = 1
    return df['hogar_mapuche']

In [24]:
def calculate_native_percentage(df, native_column, weight_column):
    # Create a new DataFrame containing only the region, native, and weight columns
    region_native_weight = df[['region', native_column, weight_column]]
    
    # Convert the native column to a binary column indicating whether someone is native or not
    region_native_weight['Native'] = region_native_weight[native_column] == 4
    
    # Multiply the native column by the weight column to get the weighted number of natives
    region_native_weight['Weighted Native'] = region_native_weight['Native'] * region_native_weight[weight_column]
    
    # Group the data by region and calculate the sum of the weighted native column and weight column
    native_weight_sum = region_native_weight.groupby('region').agg({'Weighted Native': 'sum', weight_column: 'sum'})
    
    # Divide the sum of the weighted native column by the sum of the weight column to get the weighted mean of the native column
    native_mean = native_weight_sum['Weighted Native'] / native_weight_sum[weight_column]
    
    # Multiply the mean by 100 to get the percentage of natives
    native_percentage = native_mean * 100
    
    # Rename the result to indicate that it contains percentages
    native_percentage.name = 'Native Percentage'
    
    return native_percentage

In [25]:
def calculate_native_percentage_country(df, native_column, weight_column):
    # Create a new DataFrame containing only the region, native, and weight columns
    region_native_weight = df[['region', native_column, weight_column]]
    
    # Convert the native column to a binary column indicating whether someone is native or not
    region_native_weight['Native'] = region_native_weight[native_column] == 4
    
    # Multiply the native column by the weight column to get the weighted number of natives
    region_native_weight['Weighted Native'] = region_native_weight['Native'] * region_native_weight[weight_column]
    
    # Group the data by region and calculate the sum of the weighted native column and weight column
    native_weight_sum = region_native_weight.groupby('region').agg({'Weighted Native': 'sum', weight_column: 'sum'})
    
    # Divide the sum of the weighted native column by the sum of the weight column to get the weighted mean of the native column
    native_mean = native_weight_sum['Weighted Native'] / native_weight_sum['Weighted Native'].sum()
    
    # Multiply the mean by 100 to get the percentage of natives
    native_percentage_country = native_mean * 100
    
    # Rename the result to indicate that it contains percentages
    native_percentage_country.name = 'Native Percentage Country'
    
    return native_percentage_country

In [26]:
def get_native_urban_rural(df, native_column, weight_column):
    
    # Create a new DataFrame containing only the region, native, and weight columns
    native_and_zone = df[['zona', weight_column, native_column]].query(f'{native_column} == 4')
    
    data = []
    
    for zona, df in native_and_zone.groupby('zona'):
        n = df[weight_column].sum()
        row = [zona, n]
        data.append(row)
    col_header = ['Zona', 'N Total']
    tabla = pd.DataFrame(data,
                         columns = col_header
                        )
    return tabla

In [27]:
def get_household_income(df, income, weight):
    df_n = [k for k,v in globals().items() if v is df][0]
    df['expanded_y'] = df[income]*df[weight]
    total_y_m = df.query('hogar_mapuche == 1').query('o == 1')['expanded_y'].sum()
    total_m = df.query('hogar_mapuche == 1')[weight].sum()
    mean_y_m = round((total_y_m/total_m)*dict_inflactor[df_n], ndigits=0)
    
    total_y = df.query('hogar_mapuche == 0').query('o == 1')['expanded_y'].sum()
    total = df.query('hogar_mapuche == 0')[weight].sum()
    mean_y = round((total_y/total)*dict_inflactor[df_n], ndigits=0)
    
    return mean_y_m, mean_y

In [28]:
def get_labor_income(df):
    '''
    Considera solo el salario de inviduos mapuches y no mapuches que tienen ingresos del trabajo distintos a cero.
    '''
    df_n = [k for k,v in globals().items() if v is df][0]
    df_t = df.query(f'{dict_casen_yt[df_n]} > 0').copy()
    df_tm = df_t.query(f'{dict_casen_m[df_n]} == 4').copy()
    df_tnm = df_t.query(f'{dict_casen_m[df_n]} != 4').copy()
    y_tm = (df_tm[dict_casen_yt[df_n]]*df_tm[dict_casen_exp[df_n]]).sum()/df_tm[dict_casen_exp[df_n]].sum()
    y_tnm = (df_tnm[dict_casen_yt[df_n]]*df_tnm[dict_casen_exp[df_n]]).sum()/df_tnm[dict_casen_exp[df_n]].sum()
    y_tm = y_tm*dict_inflactor[df_n]
    y_tnm = y_tnm*dict_inflactor[df_n]
    y_tm = round(y_tm, ndigits = 0)
    y_tnm = round(y_tnm, ndigits = 0)
    row = [dict_casen_año[df_n], y_tm, y_tnm]
    return row

In [29]:
def get_weighted_median(df, val, weight):
    df_sorted = df.sort_values(val)
    cumsum = df_sorted[weight].cumsum()
    cutoff = df_sorted[weight].sum() / 2.
    return df_sorted[cumsum >= cutoff][val].iloc[0]

In [30]:
def get_median_labor_income(df):
    '''
    Considera solo el salario de inviduos mapuches y no mapuches que tienen ingresos del trabajo distintos a cero.
    '''
    df_n = [k for k,v in globals().items() if v is df][0]
    df_t = df.query(f'{dict_casen_yt[df_n]} > 0').copy()
    df_tm = df_t.query(f'{dict_casen_m[df_n]} == 4').copy()
    df_tnm = df_t.query(f'{dict_casen_m[df_n]} != 4').copy()
    median_yt_m = get_weighted_median(df_tm, dict_casen_yt[df_n], dict_casen_exp[df_n])
    median_yt_nm = get_weighted_median(df_tnm, dict_casen_yt[df_n], dict_casen_exp[df_n])
    median_yt_m = median_yt_m*dict_inflactor[df_n]
    median_yt_nm = median_yt_nm*dict_inflactor[df_n]
    row = [dict_casen_año[df_n], median_yt_m, median_yt_nm]
    return row

In [31]:
def get_median_labor_income_by_sex(df):
    '''
    Considera solo el salario de inviduos mapuches y no mapuches que tienen ingresos del trabajo distintos a cero.
    '''
    df_n = [k for k,v in globals().items() if v is df][0]
    df_t = df.query(f'{dict_casen_yt[df_n]} > 0').copy()
    
    df_tm_h = df_t.query(f'{dict_casen_m[df_n]} == 4 & sexo == 1').copy()
    df_tm_m = df_t.query(f'{dict_casen_m[df_n]} == 4 & sexo == 2').copy()
    df_tnm_h = df_t.query(f'{dict_casen_m[df_n]} != 4 & sexo == 1').copy()
    df_tnm_m = df_t.query(f'{dict_casen_m[df_n]} != 4 & sexo == 2').copy()    
    
    median_yt_m_h = get_weighted_median(df_tm_h, dict_casen_yt[df_n], dict_casen_exp[df_n])
    median_yt_m_m = get_weighted_median(df_tm_m, dict_casen_yt[df_n], dict_casen_exp[df_n])
    median_yt_nm_h = get_weighted_median(df_tnm_h, dict_casen_yt[df_n], dict_casen_exp[df_n])
    median_yt_nm_m = get_weighted_median(df_tnm_m, dict_casen_yt[df_n], dict_casen_exp[df_n])    
    
    median_yt_m_h = median_yt_m_h*dict_inflactor[df_n]
    median_yt_m_m = median_yt_m_m*dict_inflactor[df_n]
    median_yt_nm_h = median_yt_nm_h*dict_inflactor[df_n]
    median_yt_nm_m = median_yt_nm_m*dict_inflactor[df_n]    
    
    
    row = [dict_casen_año[df_n], median_yt_m_h,  median_yt_m_m, median_yt_nm_h, median_yt_nm_m]
    return row

In [32]:
def get_labor_income_by_sex(df):
    '''
    Considera solo el salario de inviduos mapuches y no mapuches que tienen ingresos del trabajo distintos a cero.
    '''
    df_n = [k for k,v in globals().items() if v is df][0]
    df_t = df.query(f'{dict_casen_yt[df_n]} > 0').copy()

    df_tm_h = df_t.query(f'{dict_casen_m[df_n]} == 4 & sexo == 1').copy()    
    df_tm_m = df_t.query(f'{dict_casen_m[df_n]} == 4 & sexo == 2').copy()
    df_tnm_h = df_t.query(f'{dict_casen_m[df_n]} != 4 & sexo == 1').copy()
    df_tnm_m = df_t.query(f'{dict_casen_m[df_n]} != 4 & sexo == 2').copy()    
    
    y_tm_h = (df_tm_h[dict_casen_yt[df_n]]*df_tm_h[dict_casen_exp[df_n]]).sum()/df_tm_h[dict_casen_exp[df_n]].sum()    
    y_tm_m = (df_tm_m[dict_casen_yt[df_n]]*df_tm_m[dict_casen_exp[df_n]]).sum()/df_tm_m[dict_casen_exp[df_n]].sum()     
    y_tnm_h = (df_tnm_h[dict_casen_yt[df_n]]*df_tnm_h[dict_casen_exp[df_n]]).sum()/df_tnm_h[dict_casen_exp[df_n]].sum()    
    y_tnm_m = (df_tnm_m[dict_casen_yt[df_n]]*df_tnm_m[dict_casen_exp[df_n]]).sum()/df_tnm_m[dict_casen_exp[df_n]].sum()     
    
    y_tm_h = y_tm_h*dict_inflactor[df_n]
    y_tm_m = y_tm_m*dict_inflactor[df_n]
    y_tnm_h = y_tnm_h*dict_inflactor[df_n]
    y_tnm_m = y_tnm_m*dict_inflactor[df_n]

    y_tm_h = round(y_tm_h, ndigits = 0)
    y_tm_m = round(y_tm_m, ndigits = 0)
    y_tnm_h = round(y_tnm_h, ndigits = 0)
    y_tnm_m = round(y_tnm_m, ndigits = 0)    
    
    row = [dict_casen_año[df_n], y_tm_h, y_tm_m, y_tnm_h, y_tnm_m]
    return row

In [43]:
for sexo, group in df_casen_09.groupby('sexo'):
    print(group.sexo.mean(), group.ytrabajocor.mean())

1.0 240909.6321093083
2.0 248892.9789774773

### Aplicando funciones

In [33]:
# Determinando ingreso mediano del trabajo por sexo
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_median_labor_income_by_sex(df)
    data.append(row)
    
col_y_median_t_by_sex = [
    'Año', 
    'Mediana Ingreso Trabajo Mapuche Hombre',
    'Mediana Ingreso Trabajo Mapuche Mujer', 
    'Mediana Ingreso Trabajo No Mapuche Hombre',
    'Mediana Ingreso Trabajo No Mapuche Mujer'
]

tabla_y_median_t_by_sex = pd.DataFrame(data, columns = col_y_median_t_by_sex)
tabla_y_median_t_by_sex

,Año,Mediana Ingreso Trabajo Mapuche Hombre,Mediana Ingreso Trabajo Mapuche Mujer,Mediana Ingreso Trabajo No Mapuche Hombre,Mediana Ingreso Trabajo No Mapuche Mujer
0,2009,223860.000,258300.000,284130.00,292740.000
1,2011,323200.000,258560.000,404000.00,323200.000
2,2013,386250.000,324450.000,487963.53,386250.000
3,2015,421800.000,345455.606,534280.00,412385.424
4,2017,442530.000,371568.303,536400.00,422415.000
5,2020,379247.505,333450.000,494000.00,370500.000

In [34]:
tabla_y_median_t_by_sex.to_excel('tablas/y_median_t_by_sex.xlsx')

In [35]:
# Determinando ingreso mediano del trabajo
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_median_labor_income(df)
    data.append(row)
    
col_y_median_t = [
    'Año', 
    'Mediana Ingreso Trabajo Mapuche', 
    'Mediana Ingreso Trabajo No Mapuche',
]

tabla_y_median_t = pd.DataFrame(data, columns = col_y_median_t)
tabla_y_median_t

    Año  Mediana Ingreso Trabajo Mapuche  Mediana Ingreso Trabajo No Mapuche
0  2009                       247680.426                          284266.038
1  2011                       297344.000                          371680.000
2  2013                       339900.000                          463500.000
3  2015                       392274.000                          478040.000
4  2017                       402300.000                          502875.000
5  2020                       357121.245                          440483.745

In [36]:
tabla_y_median_t.to_excel('tablas/y_median_t.xlsx')

In [37]:
# Determinando ingreso promedio del trabajo por sexo

data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_labor_income_by_sex(df)
    data.append(row)
    
col_yt_by_sex = [
    'Año', 
    'Ingreso Trabajo Mapuche Hombre',
    'Ingreso Trabajo Mapuche Mujer',
    'Ingreso Trabajo No Mapuche Hombre',
    'Ingreso Trabajo No Mapuche Mujer',
]

tabla_yt_by_sex = pd.DataFrame(data, columns = col_yt_by_sex)
tabla_yt_by_sex

,Año,Ingreso Trabajo Mapuche Hombre,Ingreso Trabajo Mapuche Mujer,Ingreso Trabajo No Mapuche Hombre,Ingreso Trabajo No Mapuche Mujer
0,2009,284106.0,295298.0,390975.0,403728.0
1,2011,438843.0,312674.0,693780.0,488490.0
2,2013,581055.0,375168.0,829608.0,573814.0
3,2015,578922.0,415080.0,841453.0,591280.0
4,2017,585135.0,474926.0,880427.0,653864.0
5,2020,497627.0,384164.0,787934.0,558558.0

In [38]:
tabla_yt_by_sex.to_excel('tablas/yt_by_sex.xlsx')

In [ ]:
# Determinando ingreso promedio del trabajo

data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_labor_income(df)
    data.append(row)
    
col_yt = [
    'Año', 
    'Ingreso Trabajo Mapuche', 
    'Ingreso Trabajo No Mapuche',
]

tabla_yt = pd.DataFrame(data, columns = col_yt)
tabla_yt

In [ ]:
tabla_yt.to_excel('tablas/yt.xlsx')

In [ ]:
# Determinando número de miembros en el hogar

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df['n_miembros'] = get_household_members(
        df = df, 
        id_hogar = 'folio', 
        member_number = 'o'
    )

In [ ]:
# Determinando hogares mapuche

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    df['hogar_mapuche'] = is_household_mapuche(
        df = df, 
        id_hogar = 'folio', 
        member_number = 'o',
        mapuche_variable = dict_casen_m[df_n]
    )

## Presentando datos

### ¿Cuántas personas hay?

In [ ]:
df_casen_20.expr_C2017_NM.sum()

### ¿Cuántos mapuches hay?

In [ ]:
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_m = df.query(f'{dict_casen_m[df_n]} == 4').copy()
    df_año = dict_casen_año[df_n]
    n_mapuche = df_m[dict_casen_exp[df_n]].sum()
    pp_mapuche = round(n_mapuche/df[dict_casen_exp[df_n]].sum(), ndigits = 4)
    row = [df_año, pp_mapuche, n_mapuche]
    data.append(row)
    
col_header = ['Año', '% de población identificada como mapuche.', 'Población identificada como mapuche']
tabla_n_mapuche = pd.DataFrame(data, columns = col_header)
tabla_n_mapuche

In [ ]:
'''
print(df_casen_09.query(f'{dict_casen_m['df_casen_09']} == 4').expr_C2017_NM.sum())
df_casen_09.expr_C2017_NM.sum()
'''

In [ ]:
'''
df_casen_09m = df_casen_09.query(f'{dict_casen_m['df_casen_09']} == 4')
'''

In [ ]:
dict_casen_m['df_casen_09']

In [ ]:
tabla_n_mapuche.to_excel('tablas/n_mapuche.xlsx')

### Mapuche vs. otras etnias

In [ ]:
df_casen_17.groupby('r3').expr.sum()/df_casen_17.expr.sum()

### ¿Dónde se encuentran los mapuche?

In [ ]:
#Primero, se revisa el número de regiones en cada CASEN

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    print(dict_casen_año[df_n] , df['region'].unique())

#### El tema de las nuevas regiones:

El 2017 se agregó la nueva región 16. ¿debería agregarla?

La 16 antes pertenecía a la 8. Una alternativa es simplemente reemplazar 16 por 8 en la df_casen__17

In [ ]:
# Arreglando región
df_casen_17['region'] = df_casen_17.region.replace(16,8)
df_casen_20['region'] = df_casen_20.region.replace(16,8)

In [ ]:
# Porcentaje en la región

df_region_pp_m = pd.DataFrame()

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]  
    mapuche_pp_region = calculate_native_percentage(df, dict_casen_m[df_n], dict_casen_exp[df_n])
    df_region_pp_m[dict_casen_año[df_n]] = round(mapuche_pp_region, ndigits=1)

In [ ]:
# Porcentaje en la región

df_region_pp_m_pais = pd.DataFrame()

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]  
    mapuche_pp_region = calculate_native_percentage_country(df, dict_casen_m[df_n], dict_casen_exp[df_n])
    df_region_pp_m_pais[dict_casen_año[df_n]] = round(mapuche_pp_region, ndigits=1)

In [ ]:
df_region_pp_m

In [ ]:
df_region_pp_m.to_excel('tablas/pp_m_region.xlsx')

In [ ]:
df_region_pp_m_pais

In [ ]:
df_region_pp_m_pais.to_excel('tablas/pp_m_pais.xlsx')

In [ ]:
# Obteniendo ingreso p.c. (Comparar con ingreso de la misma CASEN)

# Presentando ingreso

data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    mean_y_m, mean_y = get_household_income(df, income = dict_casen_y[df_n], weight = dict_casen_exp[df_n])
    row = [dict_casen_año[df_n], mean_y_m, mean_y]
    data.append(row)

col_header_y = ['Año', 'Ingreso p/c hogar mapuche', 'Ingreso p/c hogar no mapuche']
tabla_y = pd.DataFrame(data, columns = col_header_y)
tabla_y

In [ ]:
tabla_y.to_excel('tablas/y.xlsx')

In [ ]:
# Ruralidad al 2017

data = []

for region_, df in df_casen_17.groupby('region'):
    df_m = df.query('r3 == 4').copy()
    df_nm = df.query('r3 != 4').copy()
    m_rural_pp = df_m.query('zona == 2').expr_C2017_NM.sum()/df_m.expr_C2017_NM.sum()
    nm_rural_pp = df_nm.query('zona == 2').expr_C2017_NM.sum()/df_nm.expr_C2017_NM.sum()
    row = [region_, m_rural_pp, nm_rural_pp]
    data.append(row)

col_header_rural_region = ['Año', 'Porcentaje mapuches rural', 'Porcentaje no mapuches rural']
tabla_rural_region = pd.DataFrame(data, columns = col_header_rural_region)
tabla_rural_region

# O es mejor decir: "dentro de la población rural, el x% es mapuche"?

In [ ]:
tabla_rural_region.to_excel('tablas/ruralidad_m_17.xlsx')

In [ ]:
# Rural y urbano total a través de los años.

### Tamaño de  hogar mapuche

In [ ]:
# Obteniendo tamaño de hogar por año

data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_m = df.query('hogar_mapuche == 1').copy()
    df_nm = df.query('hogar_mapuche == 0').copy()
    n_miembro_m = (
        (df_m.query('o == 1').n_miembros * df_m.query('o == 1')[dict_casen_exp[df_n]]).sum() 
        / df_m.query('o == 1')[dict_casen_exp[df_n]].sum()
    )
    n_miembro = (
        (df_nm.query('o == 1').n_miembros * df_nm.query('o == 1')[dict_casen_exp[df_n]]).sum() 
        / df_nm.query('o == 1')[dict_casen_exp[df_n]].sum()
    )
    row = [dict_casen_año[df_n], n_miembro_m, n_miembro]
    data.append(row)

col_header_n_miembros = ['Año', 'Miembros hogar mapuche', 'Miembros hogar no mapuche']
tabla_miembros = pd.DataFrame(data, columns = col_header_n_miembros)
tabla_miembros

In [ ]:
tabla_miembros.to_excel('tablas/tamaño_hogar.xlsx')

### ¿Cómo se diferencian los mapuches de la Zona Sur con los de la Región Metropolitana?

Primero se debe definir cuáles son los mapuche de la zona sur. En principio quiero capturar a aquellas zonas tradicionalmente mapuche.

Ok. Eligamos 9, 10 ¿11?

In [ ]:
r_mt = [9, 10, 11]
r_mnt = [13]

In [ ]:
# Qué estadísticas se busca obtener?
# Edad
# Sexo
# Ingreso del Hogar
# Trabajo

df_casen_20.edad

In [ ]:
def get_y_mt_mnt(df):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_mt = df[df['region'].isin(r_mt)].copy()
    df_mnt = df[df['region'].isin(r_mnt)].copy()
    y_mt = (df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_y[df_n]]*df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]]).sum()/df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum()
    y_mnt = (df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_y[df_n]]*df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]]).sum()/df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum()
    y_mt = y_mt*dict_inflactor[df_n]
    y_mnt = y_mnt*dict_inflactor[df_n]
    row = [dict_casen_año[df_n], y_mt, y_mnt]
    return row

In [ ]:
def get_age_mt_mnt(df):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_mt = df[df['region'].isin(r_mt)].copy()
    df_mnt = df[df['region'].isin(r_mnt)].copy()
    age_mt = (df_mt.query(f'{dict_casen_m[df_n]} == 4')['edad']*df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]]).sum()/df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum()
    age_mnt = (df_mnt.query(f'{dict_casen_m[df_n]} == 4')['edad']*df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]]).sum()/df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum()
    row = [dict_casen_año[df_n], age_mt, age_mnt]
    return row

In [ ]:
def get_sex_mt_mnt(df):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_mt = df[df['region'].isin(r_mt)].copy()
    df_mnt = df[df['region'].isin(r_mnt)].copy()
    pp_m_mt = (len(df_mt.query(f'{dict_casen_m[df_n]} == 4').query('sexo == 2'))*df_mt.query(f'{dict_casen_m[df_n]} == 4').query('sexo == 2')[dict_casen_exp[df_n]].sum())/(len(df_mt.query(f'{dict_casen_m[df_n]} == 4'))*df_mt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum())
    pp_m_mnt = (len(df_mnt.query(f'{dict_casen_m[df_n]} == 4').query('sexo == 2'))*df_mnt.query(f'{dict_casen_m[df_n]} == 4').query('sexo == 2')[dict_casen_exp[df_n]].sum())/(len(df_mnt.query(f'{dict_casen_m[df_n]} == 4'))*df_mnt.query(f'{dict_casen_m[df_n]} == 4')[dict_casen_exp[df_n]].sum())
    row = [dict_casen_año[df_n], pp_m_mt, pp_m_mnt]
    return row

In [ ]:
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_y_mt_mnt(df)
    data.append(row)

col_header_y_mt = ['Año', 'Ingreso hogar mapuche ZS', 'Ingreso hogar mapuche RM']
tabla_y_mt = pd.DataFrame(data, columns = col_header_y_mt)
tabla_y_mt

In [ ]:
tabla_y_mt.to_excel('tablas/y_zs_rm.xlsx')

In [ ]:
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_age_mt_mnt(df)
    data.append(row)

col_header_y_mt = ['Año', 'Edad promedio mapuche ZS', 'Edad promedio mapuche RM']
tabla_age_mt = pd.DataFrame(data, columns = col_header_y_mt)
tabla_age_mt

In [ ]:
tabla_age_mt.to_excel('tablas/edad_zs_rm.xlsx')

In [ ]:
data = []

for df in (df_casen_09, df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_sex_mt_mnt(df)
    data.append(row)

col_header_mujeres_mt = ['Año', 'Porcentaje de mujeres entre mapuches ZS', 'Porcentaje de mujeres entre mapuches MP']
tabla_mujeres_mt = pd.DataFrame(data, columns = col_header_mujeres_mt)
tabla_mujeres_mt

In [ ]:
tabla_mujeres_mt.to_excel('tablas/mujeres_zs_rm.xlsx')

### Analizando pobreza

2009: La variable es 'corte'. 1 y 2: indigentes y pobres no indigentes. 3: No pobres
2011: "". 1 y 2: pobres extremos y no extremos. 3: no pobres.

¿Cuándo cambia la metodología de medición de pobreza no multidimensional? Me parece que desde el 2015.

2013: ...

2015: pobreza - 1 y 2: pobres extremos y no extremos. 3: no pobres. || pobreza_multi_4d/pobreza_multi_5d - 1: pobre|

Ojo: ypc es el ing per cápita desde 2015 en adelante.

In [ ]:
def get_poverty(df):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_m = df.query(f'{dict_casen_m[df_n]} == 4').copy()
    df_nm = df.query(f'{dict_casen_m[df_n]} != 4').copy()
    m_pobres_pp = df_m.query(f'{dict_casen_pob[df_n]} == 1 or {dict_casen_pob[df_n]} == 2').expr_C2017_NM.sum()/df_m.expr_C2017_NM.sum()
    nm_pobres_pp = df_nm.query(f'{dict_casen_pob[df_n]} == 1 or {dict_casen_pob[df_n]} == 2').expr_C2017_NM.sum()/df_nm.expr_C2017_NM.sum() 
    row = [dict_casen_año[df_n], m_pobres_pp, nm_pobres_pp]
    return row

In [ ]:
def get_poverty_md(df):
    df_n = [k for k,v in globals().items() if v is df][0]
    df_m = df.query(f'{dict_casen_m[df_n]} == 4').copy()
    df_nm = df.query(f'{dict_casen_m[df_n]} != 4').copy()
    m_pobres_pp_4d = df_m.query('pobreza_multi_4d == 1').expr_C2017_NM.sum()/df_m.expr_C2017_NM.sum()
    nm_pobres_pp_4d = df_nm.query('pobreza_multi_4d == 1').expr_C2017_NM.sum()/df_nm.expr_C2017_NM.sum()
    m_pobres_pp_5d = df_m.query('pobreza_multi_5d == 1').expr_C2017_NM.sum()/df_m.expr_C2017_NM.sum()
    nm_pobres_pp_5d = df_nm.query('pobreza_multi_5d == 1').expr_C2017_NM.sum()/df_nm.expr_C2017_NM.sum() 
    row = [dict_casen_año[df_n], m_pobres_pp_4d, nm_pobres_pp_4d, m_pobres_pp_5d, nm_pobres_pp_5d]
    return row

In [ ]:
data = []

for df in (df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    row = get_poverty(df)
    data.append(row)
    
col_header_pov = ['Año', 'Pp. mapuches pobres', 'Pp. no mapuches pobres']
tabla_pov = pd.DataFrame(data, columns = col_header_pov)
tabla_pov

In [ ]:
tabla_pov.to_excel('tablas/pobreza.xlsx')

In [ ]:
data = []

for df in (df_casen_15, df_casen_17):
    row = get_poverty_md(df)
    data.append(row)
    
col_header_pov_md = [
    'Año', 
    'Pp. mapuches pobres 4d ', 
    'Pp. no mapuches pobres 4d', 
    'Pp. mapuches pobres 5d ', 
    'Pp. no mapuches pobres 5d'
]

tabla_pov_md = pd.DataFrame(data, columns = col_header_pov_md)
tabla_pov_md

In [ ]:
tabla_pov_md.to_excel('tablas/pobreza_md.xlsx')

In [ ]:
# Comparando por regiones en 2017

data = []

for region_, df in df_casen_17.groupby('region'):
    df_m = df.query('r3 == 4').copy()
    df_nm = df.query('r3 != 4').copy()
    m_pobres_pp = df_m.query('pobreza == 1 or pobreza == 2').expr_C2017_NM.sum()/df_m.expr_C2017_NM.sum()
    nm_pobres_pp = df_nm.query('pobreza == 1 or pobreza == 2').expr_C2017_NM.sum()/df_nm.expr_C2017_NM.sum()
    row = [region_, m_pobres_pp, nm_pobres_pp]
    data.append(row)

col_header_pov_region = ['Región', 'Porcentaje mapuches pobres', 'Porcentaje no mapuches pobres']
tabla_pov_region = pd.DataFrame(data, columns = col_header_pov_region)
tabla_pov_region

In [ ]:
tabla_pov_region.to_excel('tablas/pobreza_region.xlsx')

In [ ]:
#Ha disminuido el porcentaje de pobreza mapuche?

### Calculando el número de menores por hogar

In [ ]:
def get_n_minor(df):
    df['n_menores'] = df.groupby('folio')['edad'].transform(lambda x: (x < 18).sum())
    return df['n_menores']

In [ ]:
for df in (df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):  
    df['n_menores'] = get_n_minor(df)

# Decomposición del Salario

In [ ]:
### Necesitamos concatenar todas las bases incorporando variables de interés.

### Variables a utilizar:
'''
folio, o, ingreso ocupacional, edad, educacion, región, ruralidad, zona de ocupacion, sexo, mapuche, 
'''

In [ ]:
# Creando variable año para cada Casen

df_casen_09['año'] = 2009
df_casen_11['año'] = 2011
df_casen_13['año'] = 2013
df_casen_15['año'] = 2015
df_casen_17['año'] = 2017
df_casen_20['año'] = 2020

In [ ]:
df_casen_20.oficio1.value_counts

In [ ]:
# 2009- o23: Usted trabaja como? 1: Patrón o empleador; 2: cuenta propia; 3: sector público, 4: empresa pública; 5: s. priv.
# 6: serv. doméstico p.ad.; 7: serv. doméstivo p.af.; 8: familiar no remunerado; 9: ff.aa. y de orden

# Rama 2009 no está homogeneizada con 2011.

#cols_keep_09 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama', 't5', 'ytrabaj', 'nivel_educacional', 'año']

# cuál es la diferencia entre rama1 y rama1_sub ?
cols_keep_11 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama1', 'r6', 'ytrabajocor', 'nivel_educacional', 'año', 'o10', 'expr_C2017_NM', 'oficio1', 'n_menores', 'expc_full']
cols_keep_13 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama1', 'r6', 'ytrabajocor', 'nivel_educacional', 'año', 'y2h', 'expr_C2017_NM', 'oficio1', 'n_menores', 'expc'] #ojo, rama cambia de 18 a 99
cols_keep_15 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama1', 'r3', 'ytrabajocor', 'nivel_educacional', 'año', 'y2h', 'expr_C2017_NM', 'oficio1', 'n_menores', 'expc']
cols_keep_17 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama1', 'r3', 'ytrabajocor', 'nivel_educacional', 'año', 'y2_hrs', 'expr_C2017_NM', 'oficio1', 'n_menores', 'expc'] #rama cmabia a 999
cols_keep_20 = ['folio', 'o', 'sexo', 'edad', 'region', 'zona', 'rama1', 'r3', 'ytrabajocor', 'nivel_educacional', 'año', 'y2_hrs', 'expr_C2017_NM', 'oficio1', 'n_menores', 'expc'] #88 y 99

In [ ]:
dfr_casen_11 = df_casen_11[cols_keep_11].copy()
dfr_casen_13 = df_casen_13[cols_keep_13].copy()
dfr_casen_15 = df_casen_15[cols_keep_15].copy()
dfr_casen_17 = df_casen_17[cols_keep_17].copy()
dfr_casen_20 = df_casen_20[cols_keep_20].copy()

In [ ]:
# Llevando de horas semanales a horas mensuales en CASEN 2011
dfr_casen_11['o10'] = dfr_casen_11['o10']*4

In [ ]:
dfr_casen_13.columns

In [ ]:
# Unificando nombres de columna

columnas_unificadas = [
    'folio',
    'o',
    'sexo',
    'edad',
    'region',
    'zona',
    'rama_economica',
    'etnia',
    'ingreso_trabajo',
    'nivel_educacional',
    'año',
    'horas_trabajadas',
    'expansion_regional',
    'oficio',
    'n_menores',
    'expansion_comunal'
]

dict_columnas_unificadas_11 = dict(zip(cols_keep_11, columnas_unificadas))
dict_columnas_unificadas_13 = dict(zip(cols_keep_13, columnas_unificadas))
dict_columnas_unificadas_15 = dict(zip(cols_keep_15, columnas_unificadas))
dict_columnas_unificadas_17 = dict(zip(cols_keep_17, columnas_unificadas))
dict_columnas_unificadas_20 = dict(zip(cols_keep_20, columnas_unificadas))

In [ ]:
dfr_casen_11 = dfr_casen_11.rename(columns = dict_columnas_unificadas_11)
dfr_casen_13 = dfr_casen_13.rename(columns = dict_columnas_unificadas_13)
dfr_casen_15 = dfr_casen_15.rename(columns = dict_columnas_unificadas_15)
dfr_casen_17 = dfr_casen_17.rename(columns = dict_columnas_unificadas_17)
dfr_casen_20 = dfr_casen_20.rename(columns = dict_columnas_unificadas_20)

In [ ]:
# Obteniendo año

dict_casenrt_año = {
    'dfrt_casen_09': '2009',
    'dfrt_casen_11': '2011',
    'dfrt_casen_13': '2013',
    'dfrt_casen_15': '2015',
    'dfrt_casen_17': '2017',
    'dfrt_casen_20': '2020'
}

In [ ]:
# Aplicando IPC

dfr_casen_11['ingreso_trabajo'] = dfr_casen_11.ingreso_trabajo*dict_inflactor['df_casen_11']
dfr_casen_13['ingreso_trabajo'] = dfr_casen_13.ingreso_trabajo*dict_inflactor['df_casen_13']
dfr_casen_15['ingreso_trabajo'] = dfr_casen_15.ingreso_trabajo*dict_inflactor['df_casen_15']
dfr_casen_17['ingreso_trabajo'] = dfr_casen_17.ingreso_trabajo*dict_inflactor['df_casen_17']
dfr_casen_20['ingreso_trabajo'] = dfr_casen_20.ingreso_trabajo*dict_inflactor['df_casen_20']

In [ ]:
for df in (df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    print(df.sexo.value_counts())

In [ ]:
# Arreglando dummy sexo: mujer = 1

dfr_casen_11['sexo'] = dfr_casen_11['sexo'].replace({1: 0, 2: 1})
dfr_casen_13['sexo'] = dfr_casen_13['sexo'].replace({1: 0, 2: 1})
dfr_casen_15['sexo'] = dfr_casen_15['sexo'].replace({1: 0, 2: 1})
dfr_casen_17['sexo'] = dfr_casen_17['sexo'].replace({1: 0, 2: 1})
dfr_casen_20['sexo'] = dfr_casen_20['sexo'].replace({1: 0, 2: 1})

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print(df.sexo.value_counts())

In [ ]:
for df in (df_casen_11, df_casen_13, df_casen_15, df_casen_17, df_casen_20):
    print(df.zona.value_counts())

In [ ]:
# Arreglando dummy zona: rural = 1

dfr_casen_11['zona'] = dfr_casen_11['zona'].replace({1: 0, 2: 1})
dfr_casen_13['zona'] = dfr_casen_13['zona'].replace({1: 0, 2: 1})
dfr_casen_15['zona'] = dfr_casen_15['zona'].replace({1: 0, 2: 1})
dfr_casen_17['zona'] = dfr_casen_17['zona'].replace({1: 0, 2: 1})
dfr_casen_20['zona'] = dfr_casen_20['zona'].replace({1: 0, 2: 1})

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print(df.zona.value_counts())

### Analizando valores de Rama

In [ ]:
dfr_casen_11.oficio.value_counts()

### Analizando datos no disponibles: Rama económica

In [ ]:
# Analizando rama
'''    
for df in (dfrt_casen_11, dfrt_casen_13, dfrt_casen_15, dfrt_casen_17, dfrt_casen_20):
    df_n = [k for k,v in globals().items() if v is df][0]
    print(df_n)
    #print(dict_casenrt_año[df_n])
    #print(df.rama.value_counts())
'''

In [ ]:
'''
for df in (dfrt_casen_11, dfrt_casen_13, dfrt_casen_15, dfrt_casen_17, dfrt_casen_20):
    #df_n = [k for k,v in globals().items() if v is df][0]
    #print(df_n)
    #print('value counts: ', df.rama_economica.value_counts())
    print('lenght: ', len(df))
    print('valores disponibles: ',  df.rama_economica.value_counts().sum())
    print('nans: ', df.rama_economica.isna().sum())
    print('% nans: ', df.rama_economica.isna().sum()/len(df))
    '''

In [ ]:
'''
# 2011

print('value counts: ', dfrt_casen_11.rama_economica.value_counts())
print('lenght: ', len(dfrt_casen_11))
print('valores disponibles: ',  dfrt_casen_11.rama_economica.value_counts().sum())
print('nans: ', dfrt_casen_11.rama_economica.isna().sum())
print('% nans: ', dfrt_casen_11.rama_economica.isna().sum()/len(dfrt_casen_11))
'''

In [ ]:
'''
# 2013

print('value counts: ', dfrt_casen_13.rama_economica.value_counts())
print('lenght: ', len(dfrt_casen_13))
print('valores disponibles: ',  dfrt_casen_13.rama_economica.value_counts().sum())
print('nans: ', dfrt_casen_13.rama_economica.isna().sum())
print('% nans: ', dfrt_casen_13.rama_economica.isna().sum()/len(dfrt_casen_13))
'''

In [ ]:
'''
# 2015

print('value counts: ', dfrt_casen_15.rama_economica.value_counts())
print('lenght: ', len(dfrt_casen_15))
print('valores disponibles: ',  dfrt_casen_15.rama_economica.value_counts().sum())
print('nans: ', dfrt_casen_15.rama_economica.isna().sum())
print('% nans: ', dfrt_casen_15.rama_economica.isna().sum()/len(dfrt_casen_15))
'''

In [ ]:
'''
# 2017

print('value counts: ', dfrt_casen_17.rama_economica.value_counts())
print('lenght: ', len(dfrt_casen_17))
print('valores disponibles: ',  dfrt_casen_17.rama_economica.value_counts().sum())
print('nans: ', dfrt_casen_17.rama_economica.isna().sum())
print('% nans: ', dfrt_casen_17.rama_economica.isna().sum()/len(dfrt_casen_17))
'''

In [ ]:
'''
# 2020

print('value counts: ', dfrt_casen_20.rama_economica.value_counts())
print('lenght: ', len(dfrt_casen_20))
print('valores disponibles: ',  dfrt_casen_20.rama_economica.value_counts().sum())
print('nans: ', dfrt_casen_20.rama_economica.isna().sum())
print('% nans: ', dfrt_casen_20.rama_economica.isna().sum()/len(dfrt_casen_20))
'''

In [ ]:
'''

# 2020 whole

print('value counts: ', df_casen_20.rama1.value_counts())
print('lenght: ', len(df_casen_20))
print('valores disponibles: ',  df_casen_20.rama1.value_counts().sum())
print('largo dfrt: ', len(dfrt_casen_20))
print('nans: ', df_casen_20.rama1.isna().sum())
print('% nans: ', df_casen_20.rama1.isna().sum()/len(df_casen_20))
'''

In [ ]:
'''
# 2017 whole

print('value counts: ', df_casen_17.rama1.value_counts())
print('lenght: ', len(df_casen_17))
print('valores disponibles: ',  df_casen_17.rama1.value_counts().sum())
print('largo dfrt: ', len(dfrt_casen_17))
print('nans: ', df_casen_17.rama1.isna().sum())
print('% nans: ', df_casen_17.rama1.isna().sum()/len(df_casen_17))
'''

In [ ]:
# 2015 whole
'''
print('value counts: ', df_casen_15.rama1.value_counts())
print('lenght: ', len(df_casen_15))
print('valores disponibles: ',  df_casen_15.rama1.value_counts().sum())
print('largo dfrt: ', len(dfrt_casen_15))
print('nans: ', df_casen_15.rama1.isna().sum())
print('% nans: ', df_casen_15.rama1.isna().sum()/len(df_casen_15))
'''

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print(df.oficio.value_counts())
    print(df.oficio.isna().sum())

#### Ojo: los valores disponibles difieren entre df y dfrt, probablemente porque existen personas que entregan información de rama sin necesariamente tener ingresos mayores a cero.

In [ ]:
# Homogeneizando valores de respuesta no disponibles en rama
dfr_casen_11['rama_economica'] = dfr_casen_11.rama_economica.replace(18,99)
dfr_casen_17['rama_economica'] = dfr_casen_17.rama_economica.replace(999,99)
dfr_casen_20['rama_economica'] = dfr_casen_20.rama_economica.replace(999,99)

In [ ]:
# Pasando oficio 2011 a numerico

dfr_casen_11['oficio'] = pd.to_numeric(dfr_casen_11['oficio'], errors='coerce')

In [ ]:
dfr_casen_17.loc[dfr_casen_17['oficio'] == 999, 'oficio'] = np.nan
dfr_casen_20.loc[dfr_casen_20['oficio'] == 999, 'oficio'] = np.nan

In [ ]:
''' 
Homogeneizando valores de respuesta no disponibles en oficio
dfr_casen_11['oficio'] = dfr_casen_11['oficio'].replace(regex=r'[^0-9]', value=pd.np.nan)
dfr_casen_13['oficio'] = dfr_casen_13['oficio'].replace(regex=r'[^0-9]', value=pd.np.nan)
dfr_casen_15['oficio'] = dfr_casen_15['oficio'].replace(regex=r'[^0-9]', value=pd.np.nan)
dfr_casen_17['oficio'] = dfr_casen_17['oficio'].replace(regex=r'[^0-9]', value=pd.np.nan)
dfr_casen_20['oficio'] = dfr_casen_20['oficio'].replace(regex=r'[^0-9]', value=pd.np.nan)
'''

In [ ]:
#print(dfr_casen_2.oficio.value_counts())
#print(type(dfr_casen_11.oficio.iloc[0]))
#dfr_casen_11.oficio

### Analizando datos no disponibles: Sexo

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print('lenght: ', len(df))
    print('valores disponibles: ',  df.sexo.value_counts().sum())
    print('nans: ', df.sexo.isna().sum())
    print('% nans: ', df.sexo.isna().sum()/len(df))

### Analizando datos no disponibles: Edad

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print('lenght: ', len(df))
    print('valores disponibles: ',  df.edad.value_counts().sum())
    print('nans: ', df.edad.isna().sum())
    print('% nans: ', df.edad.isna().sum()/len(df))

### Analizando datos no disponibles: Etnia

In [ ]:
for df in (dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20):
    print('lenght: ', len(df))
    print('valores disponibles: ',  df.etnia.value_counts().sum())
    print('nans: ', df.etnia.isna().sum())
    print('% nans: ', df.etnia.isna().sum()/len(df))

### Concatenando df's

In [ ]:
df_r = pd.concat([dfr_casen_11, dfr_casen_13, dfr_casen_15, dfr_casen_17, dfr_casen_20])

### Obteniendo dummies

In [ ]:
# Create dummies for each region
dummies_region = pd.get_dummies(df_r['region'], prefix='region')

# Concatenate the dummies to the original dataframe
df_r = pd.concat([df_r, dummies_region], axis=1)

In [ ]:
# Crear dummies para cada rama economica
dummies_rama = pd.get_dummies(df_r['rama_economica'], prefix='rama')

# Concatenate the dummies to the original dataframe
df_r = pd.concat([df_r, dummies_rama], axis=1)

In [ ]:
# Crear dummies para cada oficio
dummies_oficio = pd.get_dummies(df_r['oficio'], prefix='oficio')

# Concatenate the dummies to the original dataframe
df_r = pd.concat([df_r, dummies_oficio], axis=1)

### Obteniendo dummy mapuche.

In [ ]:
df_r['mapuche'] = (df_r['etnia'] == 4).astype(int)

In [ ]:
df_r.mapuche.value_counts()

### Aplicando logaritmo a ingreso_trabajo

In [ ]:
df_r['log_ingreso_trabajo'] = np.log(df_r['ingreso_trabajo'])

### Quedándonos solo con ingresos de trabajo positivos y con mayores de edad

In [ ]:
df_rt= df_r.query('ingreso_trabajo > 0').copy()
df_rt= df_r.query('edad >= 18').copy()

### Arreglando nombres dummies

In [ ]:
df_r = df_r.rename(columns = {'sexo': 'mujer', 'zona': 'zona_rural'})

### Últimas comparaciones

In [ ]:
df_r.mujer.value_counts()

In [ ]:
df_rt.sexo.value_counts()

In [ ]:
#Ingreso mapuche vs. no mapuche

print(df_rt.query('mapuche == 1').ingreso_trabajo.mean())
print(df_rt.query('mapuche == 0').ingreso_trabajo.mean())

In [ ]:
#Ingreso mujer vs. hombre

print(df_r.query('mujer == 1').ingreso_trabajo.mean())
print(df_r.query('mujer == 0').ingreso_trabajo.mean())

In [ ]:
#Ingreso zona rural vs. urbana

print(df_r.query('zona_rural == 1').ingreso_trabajo.mean())
print(df_r.query('zona_rural == 0').ingreso_trabajo.mean())

In [ ]:
df_r.oficio.value_counts()

### Guardando bases

In [ ]:
df_r.to_stata('procesada/df_r.dta')